<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
      }

      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 5px;
      }

      tr:nth-child(even) {
          background-color: #dddddd;
      }
      </style>
  </head>
  <body>
    <span ng-hide='username'><div style="height:1000px;">
    Welcome to TRIVIA! Please login <a href="#/logout">here.</div></span>

    <div>
        <a href="#/">Home</a> | <a href="#/new_question">Add a Question</a> | <a href="#/logout">Logout</a>

        <hr>
    {{success_msg}}
        <button><a href="#/lets_play">Play!</a></button>
        <p>Click the button above to start the trivia game.</p>
        <hr>
        Search : <input type="text" ng-model="search">
        <table border="1px">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Percentage</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="answer in answers | filter:search | orderBy:'score':true">
                    <td ng-bind="answer.name"></td>
                    <td>{{answer.score}}/3</td>
                    <td>{{answer.percentage}}%</td>
                </tr>
            </tbody>
        </table>
  </body>
</html>
